.input-box {
    height: 100%;
}

textarea {
    height: 80vh;
    width: 40vw;
    padding: 10px;
    margin: 10px;
    border: none;
    padding: 10px;
    margin: 10px;
    font-size: 32px;
    resize: none;
    color: #fff;
    background-color: #2c2f33;
    border-radius: 10px;
}